@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	@apply px-2 mx-auto;
}
.swiper-pagination-bullet {
	@apply block w-3 h-3 bg-gray-600 rounded-full;
}
.swiper-pagination-bullet-active {
	@apply bg-lavender w-4 h-4;
}

.mm {
	@apply bg-lavender;
}

#myCarousel {
	--f-carousel-slide-height: 60%;
	--f-carousel-spacing: 10px;

	height: 200px;
}
